                h1 {
                    color: blue;

                }    
                img {
                    width: 400px;
                }
                #thridDiv {
                    background-color: green;
                    height: 750px;
                    width: 480px;
                    padding: 50px;
                    border: 10px solid yellow;
                }    
                #spanID {
                    font-size: 18px;
                    margin: 500px;
                }
